.startContainer{
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 30vh;
}

.invis{
    opacity: 0;
}

.title{
    position: relative;
    text-align: center;
    margin: auto;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 102vw;
    height: 102vh;
    top: -2%;
    left: 0;
    margin: 0;
    padding: 0;
    background: #282c34;
    z-index: -1;
    transition: 0.2s all;
    opacity: 1;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 4s linear infinite;
}

.background li:nth-child(0) {
    left: 59%;
    width: 186px;
    height: 186px;
    bottom: -186px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 79%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 37%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 2s;
}
.background li:nth-child(3) {
    left: 84%;
    width: 101px;
    height: 101px;
    bottom: -101px;
    animation-delay: 3s;
}
.background li:nth-child(4) {
    left: 75%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 8s;
}
.background li:nth-child(5) {
    left: 43%;
    width: 166px;
    height: 166px;
    bottom: -166px;
    animation-delay: 19s;
}
.background li:nth-child(6) {
    left: 74%;
    width: 132px;
    height: 132px;
    bottom: -132px;
    animation-delay: 27s;
}
.background li:nth-child(7) {
    left: 76%;
    width: 120px;
    height: 120px;
    bottom: -120px;
    animation-delay: 30s;
}